<p style="color: green"><%= notice %></p>

<h1>Mappings</h1>

<div id="mappings">
  <% @mappings.each do |mapping| %>
    <%= render mapping %>
    <p>
      <%= link_to "Show this mapping", mapping %>
    </p>
  <% end %>
</div>

<%= link_to "New mapping", new_mapping_path %>
