---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038%2Fs41929-019-0334-3/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.4 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1038/s41929-019-0334-3>; rel="canonical", <https://www.nature.com/articles/s41929-019-0334-3.pdf>;
        version="vor"; type="application/pdf"; rel="item", <https://www.nature.com/articles/s41929-019-0334-3>;
        version="vor"; type="text/html"; rel="item", <https://www.nature.com/articles/s41929-019-0334-3.pdf>;
        version="vor"; type="application/pdf"; rel="item", <https://www.springernature.com/gp/researchers/text-and-data-mining>;
        version="tdm"; rel="license", <https://www.springernature.com/gp/researchers/text-and-data-mining>;
        version="vor"; rel="license", <http://orcid.org/0000-0002-7628-9125>; title="Margherita
        Macino"; rel="author", <http://orcid.org/0000-0003-4029-1263>; title="Ruiyang
        Qu"; rel="author", <http://orcid.org/0000-0002-7839-3786>; title="Emma K.
        Gibson"; rel="author", <http://orcid.org/0000-0002-6571-5731>; title="David
        J Morgan"; rel="author", <http://orcid.org/0000-0002-0923-1433>; title="Andrew
        M. Beale"; rel="author", <http://orcid.org/0000-0001-8885-1560>; title="Graham
        J. Hutchings"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,1,23]],"date-time":"2023-01-23T08:30:49Z","timestamp":1674462649228},"reference-count":52,"publisher":"Springer
        Science and Business Media LLC","issue":"10","license":[{"start":{"date-parts":[[2019,9,16]],"date-time":"2019-09-16T00:00:00Z","timestamp":1568592000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2019,9,16]],"date-time":"2019-09-16T00:00:00Z","timestamp":1568592000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"funder":[{"DOI":"10.13039\/501100000866","name":"Cardiff
        University","doi-asserted-by":"publisher"},{"DOI":"10.13039\/501100010890","name":"CSC
        | Chinese Government Scholarship","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100011889","name":"Diamond
        Light Source","doi-asserted-by":"publisher","award":["MG22776","MG22776"]},{"DOI":"10.13039\/501100000266","name":"RCUK
        | Engineering and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/L016443\/1"]}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"DOI":"10.1038\/s41929-019-0334-3","type":"journal-article","created":{"date-parts":[[2019,9,16]],"date-time":"2019-09-16T16:03:58Z","timestamp":1568649838000},"page":"873-881","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":125,"title":"Tuning
        of catalytic sites in Pt\/TiO2 catalysts for the chemoselective hydrogenation
        of 3-nitrostyrene","prefix":"10.1038","volume":"2","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-7628-9125","authenticated-orcid":false,"given":"Margherita","family":"Macino","sequence":"first","affiliation":[]},{"given":"Alexandra
        J.","family":"Barnes","sequence":"additional","affiliation":[]},{"given":"Sultan
        M.","family":"Althahban","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-4029-1263","authenticated-orcid":false,"given":"Ruiyang","family":"Qu","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-7839-3786","authenticated-orcid":false,"given":"Emma
        K.","family":"Gibson","sequence":"additional","affiliation[...]
