---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-affiliation:true,from-deposit-date:2025-01-01,until-deposit-date:2025-01-01&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10851,"items":[{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T13:02:29Z","timestamp":1740142949956,"version":"3.37.3"},"reference-count":122,"publisher":"Informa
        UK Limited","issue":"1","funder":[{"DOI":"10.13039\/501100008091","name":"Golestan
        University of Medical Sciences","doi-asserted-by":"publisher","award":["110907"],"id":[{"id":"10.13039\/501100008091","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["Expert
        Review of Clinical Immunology"],"published-print":{"date-parts":[[2025,1,2]]},"DOI":"10.1080\/1744666x.2024.2401614","type":"journal-article","created":{"date-parts":[[2024,9,16]],"date-time":"2024-09-16T08:23:15Z","timestamp":1726474995000},"page":"5-15","update-policy":"https:\/\/doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":0,"title":["Pioglitazone
        as a potential modulator in autoimmune diseases: a review on its effects in
        systemic lupus erythematosus, psoriasis, inflammatory bowel disease, and multiple
        sclerosis"],"prefix":"10.1080","volume":"21","author":[{"given":"Mohammad
        Esmail","family":"Nasrabadi","sequence":"first","affiliation":[{"name":"Department
        of Immunology, Faculty of Medicine, Golestan University of Medical Sciences,
        Gorgan, Iran"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-0815-5942","authenticated-orcid":false,"given":"Ahmed","family":"Al-Harrasi","sequence":"additional","affiliation":[{"name":"Natural
        and Medical Sciences Research Center, University of Nizwa, Nizwa, Oman"}]},{"given":"Saeed","family":"Mohammadi","sequence":"additional","affiliation":[{"name":"Golestan
        Research Center of Gastroenterology and Hepatology, Golestan University of
        Medical Sciences, Gorgan, Iran"}]},{"given":"Fateme","family":"Zarif Azam
        Kardani","sequence":"additional","affiliation":[{"name":"Department of Immunology,
        Faculty of Medicine, Birjand University of Medical Sciences, Birjand, Iran"}]},{"given":"Mina","family":"Rahmati","sequence":"additional","affiliation":[{"name":"Biotechnology
        Research Center, Pasteur Institute of Iran, Tehran, Iran"}]},{"given":"Ali","family":"Memarian","sequence":"additional","affiliation":[{"name":"Department
        of Immunology, Faculty of Medicine, Golestan University of Medical Sciences,
        Gorgan, Iran"},{"name":"Stem Cell Research Center, Golestan University of
        Medical Sciences, Gorgan, Iran"}]}],"member":"301","published-online":{"date-parts":[[2024,9,16]]},"reference":[{"key":"e_1_3_8_3_1","doi-asserted-by":"publisher","DOI":"10.1038\/d41586-021-01833-y"},{"key":"e_1_3_8_4_1","doi-asserted-by":"publisher","DOI":"10.1186\/1740-2557-5-1"},{"key":"e_1_3_8_5_1","doi-asserted-by":"publisher","DOI":"10.1136\/annrheumdis-2020-218272"},{"key":"e_1_3_8_6_1","doi-asserted-by":"publisher","DOI":"10.1016\/j.cell.2020.03.007"},{"key":"e_1_3_8_7_1","doi-asserted-by":"publisher","DOI":"10.1016\/j.atherosclerosis.2007.05.006"},{"key":"e_1_3_8_8_1","doi-asserted-by":"publisher","DOI"[...]
