---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/R026939/1,from-created-date:2025-01-01,until-created-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2026,7,1]],"date-time":"2026-07-01T03:56:35Z","timestamp":1782878195456,"version":"3.54.5"},"reference-count":81,"publisher":"Royal
        Society of Chemistry (RSC)","issue":"5","license":[{"start":{"date-parts":[[2026,1,13]],"date-time":"2026-01-13T00:00:00Z","timestamp":1768262400000},"content-version":"am","delay-in-days":377,"URL":"http:\/\/rsc.li\/journals-terms-of-use"}],"funder":[{"DOI":"10.13039\/501100000765","name":"University
        College London","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000765","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000866","name":"Cardiff
        University","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000866","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000848","name":"University
        of Edinburgh","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000848","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/P020267\/1"],"award-info":[{"award-number":["EP\/P020267\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026939\/1"],"award-info":[{"award-number":["EP\/R026939\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/
        R026815\/1"],"award-info":[{"award-number":["EP\/ R026815\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026645\/1"],"award-info":[{"award-number":["EP\/R026645\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R027129\/1"],"award-info":[{"award-number":["EP\/R027129\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["rsc.org"],"crossmark-restriction":true},"short-container-title":["Phys.
        Chem. Chem. Phys."],"abstract":"<jats:p>The nature, location and distribution
        of acidic hydroxyls determine the methanol adsorption capacity, geometry and
        hence the isotherm profiles of fresh-ZSM-5 and steamed-ZSM-5.<\/jats:p>","DOI":"10.1039\/d4cp03761h","type":"journal-article","created":{"date-parts":[[2025,1,13]],"date-time":"2025-01-13T15:40:52Z","timestamp":1736782852000},"page":"2601-2614","update-policy":"https:\/\/doi.org\/10.1039\/rsc_crossmark_policy","source":"Crossref","is-referenced-by-count":5,"title":["A
        complementary experimental and computational study on methanol adsorption
        isotherms of H-ZSM-5"],"prefix":"10.1039","volume":"27","author":[{"ORCID":"https:\/\/orcid.org\/0000-0001-6965-2945","authenticated-orcid":false,"given":"Santhosh
        K.","family":"Matam","sequence":"first","affiliation":[{"name":"UK Catalysis
        Hub, Research Complex at Harwell, Science and Technology Facilities Council,
        Rutherford Appleton Laboratory, OX11 0FA, UK"},{"name":"Cardiff Catalysis
        Institute, School of Chemistry, Cardiff University, Cardiff, CF10 3AT, UK"}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Lotfi","family":"Boudjema","sequence":"additional","affiliation":[{"name":"UK
        Catalysis Hub, Research Complex at Harwell, Science and Technology Facilities
        Council, Rutherford Appleton Laboratory, OX11 0FA, UK"},{"name":"Department
        of Chemistry, University College London, 20 Gordon St., London WC1E 6BT, UK"},{"name":"ICGM,
        Univ. Montpellier, CNRS, ENSCM, Montpellier, France"}],"role":[{"vocabulary":"crossref","role":"author"[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/M013219/1,from-created-date:2025-01-01,until-created-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 16:03:19 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/R026939,from-created-date:2025-01-01,until-created-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
  [...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/M013219,from-created-date:2025-01-01,until-created-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
  [...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/K014706/2,from-created-date:2025-01-01,until-created-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 16:03:26 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/K014706,from-created-date:2025-01-01,until-created-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 16:03:27 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/K014714,from-created-date:2025-01-01,until-created-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 16:03:29 GMT
recorded_with: VCR 6.4.0
