---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939/1,from-deposit-date:2026-01-01,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public-array
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":11,"items":[{"indexed":{"date-parts":[[2026,3,29]],"date-time":"2026-03-29T01:23:01Z","timestamp":1774747381947,"version":"3.50.1"},"reference-count":4,"publisher":"American
        Chemical Society (ACS)","issue":"2","license":[{"start":{"date-parts":[[2026,1,6]],"date-time":"2026-01-06T00:00:00Z","timestamp":1767657600000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-001"},{"start":{"date-parts":[[2026,1,6]],"date-time":"2026-01-06T00:00:00Z","timestamp":1767657600000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-009"},{"start":{"date-parts":[[2026,1,6]],"date-time":"2026-01-06T00:00:00Z","timestamp":1767657600000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-017"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/P025021\/1"],"award-info":[{"award-number":["EP\/P025021\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/P025498\/1"],"award-info":[{"award-number":["EP\/P025498\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R00661X\/1"],"award-info":[{"award-number":["EP\/R0[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219/1,from-deposit-date:2026-01-01,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public-array
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":9,"items":[{"indexed":{"date-parts":[[2026,7,30]],"date-time":"2026-07-30T09:55:34Z","timestamp":1785405334107,"version":"3.56.0"},"posted":{"date-parts":[[2022,3,22]]},"reference-count":0,"publisher":"American
        Chemical Society (ACS)","license":[{"start":{"date-parts":[[2022,3,22]],"date-time":"2022-03-22T00:00:00Z","timestamp":1647907200000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000265","name":"Medical
        Research Council","doi-asserted-by":"publisher","award":["MR\/N0137941\/1"],"award-info":[{"award-number":["MR\/N0137941\/1"]}],"id":[{"id":"10.13039\/501100000265","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000268","name":"Biotechnology
        and Biological Sciences Research Council","doi-asserted-by":"publisher","award":["BB\/M0626280\/1"],"award-info":[{"award-number":["BB\/M0626280\/1"]}],"id":[{"id":"10.13039\/501100000268","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/M013219\/1"],"award-info":[{"award-number":["EP\/M013219\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000265","name":"Medical
        Research Council","doi-asserted-by":"publisher","award":["MR\/T016035"],"award-info":[{"award-number":["MR\/T016035"]}],"id":[{"id":"10.13039\/501100000265","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>OXA-48
        \u03b2-lactamases are frequently encountered in bacterial infections caused
        by carbapenem-resistant Gram-negative bacteria. Due to the importance of carbapenems
        in treatment of healthcare-associated infections, and the increasingly wide
        dissemination of OXA-48-like enzymes on plasmids, these \u03b2-lactamases
        are of high clinical significance. Notably, OXA-48 hydrolyses imipenem more
        efficiently than other commonly used carbapenems, such as [...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939,from-deposit-date:2026-01-01,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Aug 2026 23:02:04 GMT
recorded_with: VCR 6.4.0
