---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/R026939/1,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:17:45 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/R026815/1,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2026,8,8]],"date-time":"2026-08-08T21:24:12Z","timestamp":1786224252262,"version":"3.56.0"},"reference-count":77,"publisher":"International
        Union of Crystallography (IUCr)","issue":"6","license":[{"start":{"date-parts":[[2020,11,20]],"date-time":"2020-11-20T00:00:00Z","timestamp":1605830400000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/journals.iucr.org\/services\/copyrightpolicy.html"},{"start":{"date-parts":[[2020,11,20]],"date-time":"2020-11-20T00:00:00Z","timestamp":1605830400000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/journals.iucr.org\/services\/copyrightpolicy.html#TDM"}],"funder":[{"DOI":"10.13039\/501100006041","name":"Innovate
        UK","doi-asserted-by":"publisher","award":["106003"],"award-info":[{"award-number":["106003"]}],"id":[{"id":"10.13039\/501100006041","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026815\/1"],"award-info":[{"award-number":["EP\/R026815\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/S016481\/1"],"award-info":[{"award-number":["EP\/S016481\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["iucr.org","wiley.com","iucrj.org"],"crossmark-restriction":true},"short-container-title":["J
        Appl Crystallogr","J Appl Cryst"],"accepted":{"date-parts":[[2020,10,11]]},"published-print":{"date-parts":[[2020,12,1]]},"abstract":"<jats:p>A
        new tomographic reconstruction algorithm is presented, termed direct least-squares
        reconstruction (DLSR), which solves the well known parallax problem in X-ray-scattering-based
        experiments. The parallax artefact arises from relatively large samples where
        X-rays, scattered from a scattering angle 2\u03b8, arrive at multiple detector
        elements. This phenomenon leads to loss of physico-chemical information associated
        with diffraction peak shape and position (<jats:italic>i.e.<\/jats:italic>
        altering the calculated crystallite size and lattice parameter values, respectively)
        and is currently the major barrier to investigating samples and devices at
        the centimetre level (scale-up problem). The accuracy of the DLSR algorithm
        has been tested against simulated and experimental X-ray diffraction computed
        tomography data using the <jats:italic>TOPAS<\/jats:italic> software.<\/jats:p>","DOI":"10.1107\/s1600576720013576","type":"journal-article","created":{"date-parts":[[2020,11,20]],"date-time":"2020-11-20T02:28:48Z","timestamp":1605839328000},"page":"1531-1541","update-policy":"https:\/\/doi.org\/10.1107\/cm_01","source":"Crossref","is-referenced-by-count":24,"title":["DLSR:
        a solution to the parallax artefact in X-ray diffraction computed tomography
        data"],"prefix":"10.1107","volume":"53","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-4745-0602","authenticated-orcid":true,"given":"A.","family":"Vamvakeros","sequence":"first","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"A.
        A.","family":"Coelho","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"ORCID":"https:\/\/orcid.org\/0000-0001-6102-6405","authenticated-orcid":true,"given":"D.","family":"Matras","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"H.","family":"Dong","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given"[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/M013219/1,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:17:48 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/R026939,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
  [...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/M013219,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:17:56 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/K014706/2,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:17:56 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/K014706,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:17:59 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:UKRI945,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:18:00 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:UKRI-945,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:18:01 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:UKRI%20945,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 12 Aug 2026 17:18:02 GMT
recorded_with: VCR 6.4.0
