---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939/1,from-deposit-date:2026-05-15,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2026,5,20]],"date-time":"2026-05-20T08:12:30Z","timestamp":1779264750244,"version":"3.51.4"},"reference-count":83,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2026,5,1]],"date-time":"2026-05-01T00:00:00Z","timestamp":1777593600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2026,5,1]],"date-time":"2026-05-01T00:00:00Z","timestamp":1777593600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/legal\/tdmrep-license"},{"start":{"date-parts":[[2026,4,7]],"date-time":"2026-04-07T00:00:00Z","timestamp":1775520000000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100019229","name":"UK
        Catalysis Hub","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100019229","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/T517884\/1"],"award-info":[{"award-number":["EP\/T517884\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026939\/1"],"award-info":[{"award-number":["EP\/R026939\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/P001467\/1"],"award-info":[{"award-number":["EP\/P001467\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000866","name":"Cardiff
        University","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000866","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100004189","name":"Max-Planck-Gesellschaft","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100004189","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Chemical
        Engineering Journal"],"published-print":{"date-parts":[[2026,5]]},"DOI":"10.1016\/j.cej.2026.175992","type":"journal-article","created":{"date-parts":[[2026,4,7]],"date-time":"2026-04-07T23:30:53Z","timestamp":1775604653000},"page":"175992","update-policy":"https:\/\/doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"special_numbering":"C","title":["On-board
        methanol production using a hollow fibre-based reactor: modelling and experimental
        validation"],"prefix":"10.1016","volume":"536","author":[{"given":"Claire","family":"Leishman","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Zonggao","family":"Hu","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Benjamin","family":"Duheric","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Kieran
        J.","family":"Aggett","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Kang","family":"Li","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Nicholas
        F.","family":"Dummer","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Graham
        J.","family":"Hutchings","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Timm","family":"Kr\u00fcger","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Francisco
        R.","family":"Garc\u00eda-Garc\u00eda","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"78","reference":[{"key":"10.1016\/j.cej.2026.175992_bb0005","unstructured":"Department
        for Energy Security and Net Zero, Participating in the UK Emissions Trading
        Scheme (UK ETS). https:\/\/www.gov.uk\/government\/publications\/participating-in-the-uk-ets,
        2020 (accessed 30 September 2025)."},{"key":"10.1016\/j.cej.2026.175992_bb0010","unstructured":"IOGP
        Europe, CO2 storage projects in Europe. https:\/\/iogpeurope.org\/key-topics\/carbon-capture-use-storage,
        2025 (accessed 10 September 2025)."},{"key":"10.1016\/j.cej.2026.175992_bb0015","doi-asserted-by":"crossref","DOI":"10.1088\/1757-899X\/1201\/1\/012078","article-title":"An
        evaluation of key challenges of CO2 transportation with a novel Subsea Shuttle
        Tanker","volume":"1201","author":"Ma","year":"2021","journal-title":"IOP Conf.
        Ser.: Mater. Sci. Eng."},{"key":"10.1016\/j.cej.2026.175992_bb0020","series-title":"Scaling
        Up Hydrogen: The Case For Low-Carbon Methanol, A BNEF and Climate Technology
        Coalition White Paper","author":"BloombergNEF","year":"2024"},{"key":"10.1016\/j.cej.2026.175992_bb0025","unstructured":"Methanex,
        Methanel Methanol Price Sheet. https:\/\/www.methanex.com\/our-products\/about-methanol\/pricing\/,
        2025 (accessed 02 October 2025)."},{"key":"10.1016\/j.cej.2026.175992_bb0030","doi-asserted-by":"crossref","DOI":"10.1016\/j.cej.2020.125379","article-title":"Micro-structured
        catalytic converter for residual methane emission abatement","volume":"396","author":"Garc\u00eda-V\u00e1zquez","year":"2020","journal-title":"Chem.
        Eng. J."},{"key":"10.1016\/j.cej.2026.175992_bb0035","doi-asserted-by":"crossref","unstructured":"C.
        Larkin, K. Li, F. Oliva, F.R. Garc\u00eda\u2013Garc\u00eda, Scaling up a hollow
        fibre adsorption unit for on-board CCS applications using a real gasoline
        engine exhaust, Chem. Eng. J., 497 (2024) 154453. doi:https:\/\/doi.org\/10.1016\/j.cej.2024.154453.","DOI":"10.1016\/j.cej.2024.154453"},{"key":"10.1016\/j.cej.2026.175992_bb0040","doi-asserted-by":"crossref","first-page":"37697","DOI":"10.1016\/j.ijhydene.2021.09.038","article-title":"Ammonia
        cracking hollow fibre converter for on-board hydrogen production","volume":"46","author":"Mazzone","year":"2021","journal-title":"Int.
        J. Hydrog. Energy"},{"key":"10.1016\/j.cej.2026.175992_bb0045","doi-asserted-by":"crossref","DOI":"10.1016\/j.jece.2021.106880","article-title":"Scaling
        up a hollow fibre reactor: A study on non-PGM hollow fibre after-treatments
        for methane emission control under extreme conditions","volume":"9","author":"Garc\u00eda-V\u00e1zquez","year":"2021","journal-title":"J.
        Environ. Chem. Eng."},{"key":"10.1016\/j.cej.2026.175992_bb0050","doi-asserted-by":"crossref","DOI":"10.1016\/j.enconman.2023.117516","article-title":"A
        strategy for CO2 capture and utilization towards methanol production at industrial
        scale: An integrated highly efficient process based on multi-criteria assessment","volume":"293","author":"Yang","year":"2023","journal-title":"Energy
        Convers. Manag."},{"key":"10.1016\/j.cej.2026.175992_bb0055","doi-asserted-by":"crossref","DOI":"10.1016\/j.ijggc.2020.103195","article-title":"A
        review - The development of hollow fibre membranes for gas separation processes","volume":"104","author":"Li","year":"2021","journal-title":"Int.
        J. Greenh. Gas Con."},{"key":"10.1016\/[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R027129/1,from-deposit-date:2026-05-15,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Mon, 17 Aug 2026 19:12:52 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219/1,from-deposit-date:2026-05-15,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Mon, 17 Aug 2026 19:12:53 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219,from-deposit-date:2026-05-15,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Mon, 17 Aug 2026 19:12:53 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014706/2,from-deposit-date:2026-05-15,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Mon, 17 Aug 2026 19:12:53 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014714/1,from-deposit-date:2026-05-15,until-deposit-date:2026-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Mon, 17 Aug 2026 19:12:54 GMT
recorded_with: VCR 6.4.0
