---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1002%2Faenm.202201131/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public-single
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2026,8,5]],"date-time":"2026-08-05T18:44:46Z","timestamp":1785955486955,"version":"3.56.0"},"reference-count":65,"publisher":"Wiley","issue":"45","license":[{"start":{"date-parts":[[2022,10,3]],"date-time":"2022-10-03T00:00:00Z","timestamp":1664755200000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R023522\/1"],"award-info":[{"award-number":["EP\/R023522\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R023603\/1"],"award-info":[{"award-number":["EP\/R023603\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R023921\/1"],"award-info":[{"award-number":["EP\/R0[...]
