---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939/1,from-deposit-date:2025-10-12,until-deposit-date:2025-10-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4,"items":[{"indexed":{"date-parts":[[2026,8,5]],"date-time":"2026-08-05T02:14:58Z","timestamp":1785896098525,"version":"3.56.0"},"reference-count":183,"publisher":"Wiley","issue":"5","license":[{"start":{"date-parts":[[2024,12,23]],"date-time":"2024-12-23T00:00:00Z","timestamp":1734912000000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/M013219\/1"],"award-info":[{"award-number":["EP\/M013219\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026939\/1"],"award-info":[{"award-number":["EP\/R026939\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026815\/1"],"award-info":[{"award-number":["EP\/R026815\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026645\/1"],"award-info":[{"award-number":["EP\/R026645\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R027129\/1"],"award-info":[{"award-number":["EP\/R027129\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["chemistry-europe.onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["ChemCatChem"],"published-print":{"date-parts":[[2025,3]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Impregnation
        of phosphine\u2010decorated polymer\u2010immobilized ionic liquid with the
        tetrachloroaurate anion results in reduction of the gold(III) to gold(I) with
        concomitant oxidation of the phosphine to its oxide. In situ reduction of
        the resulting precursor, AuCl@O\u00a0=\u00a0PPh<jats:sub>2<\/jats:sub>\u2010PEGPIILS,
        generated the corresponding O\u00a0=\u00a0PPh<jats:sub>2<\/jats:sub>\u2010PEGPIIL\u2010stabilized
        AuNPs, AuNP@O\u00a0=\u00a0PPh<jats:sub>2<\/jats:sub>\u2010PEGPIILS, which
        is a highly active and selective catalyst for the solvent\u2010dependent partial
        reduction of nitrobenzene to <jats:italic>N<\/jats:italic>\u2010phenylhydroxylamine
        in water and azoxybenzene in ethanol. The initial TOFs are comparable to those
        obtained with gold nanoparticles generated by reduction of tetrachloroaurate\u2010impregnated
        phosphine oxide\u2010decorated polymer\u2010immobilized ionic liquid AuCl<jats:sub>4<\/jats:sub>@O\u00a0=\u00a0PPh<jats:sub>2<\/jats:sub>\u2010PEGPIILS,
        i.e., the activity and selectivity profiles do not appear to depend on whether
        the AuNPs are generated from Au(III) or in situ\u2010generated Au(I). In stark
        contrast, gold nanoparticles prepared by NaBH<jats:sub>4<\/jats:sub> reduction
        of AuCl@PPh<jats:sub>2<\/jats:sub>\u2010PEGPIILS based on gold(I) confined
        in phosphine\u2010modified polymer\u2010immobilized ionic liquid gave markedly
        lower initial TOFs. The use of dimethylamine borane (DMAB) as the hydrogen
        donor resulted in a substantial and dramatic enhancement in activity for reductions
        conducted in water compared with NaBH<jats:sub>4<\/jats:sub> and the initial
        TOF of 20,400\u00a0mol nitrobenzene converted mol\u00a0Au<jats:sup>\u22121<\/jats:sup>\u00a0h<jats:sup>\u22121<\/jats:sup>
        obtained with AuNPs generated in situ from AuCl<jats:sub>4<\/jats:sub>@O\u00a0=\u00a0PPh<jats:sub>2<\/jats:sub>\u2010PEGPIILS
        is among the highest to be reported for the metal nanoparticle catalyzed selective
        reduction of nitrobenzene to <jats:italic>N<\/jats:italic>\u2010phenylhydroxylamine;
        this is a significant improvement on existing protocols, which should enable
        the partial selective reduction of nitroarenes to be conducted in water with
        a low catalyst loading under extremely mild conditions.<\/jats:p>","DOI":"10.1002\/cctc.202401702","type":"journal-article","created":{"date-parts":[[2024,12,9]],"date-time":"2024-12-09T15:49:21Z","timestamp":1733759361000},"update-policy":"https:\/\/doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":6,"title":["Gold
        Nanoparticle\u2010Catalyzed Solvent Switchable Selective Partial Reduction
        of Nitrobenzene to <i>N<\/i>\u2010Phenylhydroxylamine and Azoxybenzene"],"prefix":"10.1002","volume":"17","author":[{"given":"Simon","family":"Doherty","sequence":"first","affiliation":[{"name":"Newcastle
        University Centre for Catalysis (NUCAT) School of Chemistry Newcastle University  Bedson
        Building Newcastle upon Tyne NE1 7RU UK"}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Julian
        G.","family":"Knight","sequence":"additional","affiliation":[{"name":"Newcastle
        University Centre for Catalysis (NUCAT) School of Chemistry Newcastle University  Bedson
        Building Newcastle upon Tyne NE1 7RU UK"}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Hussam
        Y.","family":"Alharbi","sequence":"additional","affiliation":[{"name":"Newcastle
        University Centre for Catalysis (NUCAT) School of C[...]
