---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1002%2Fcctc.202100286/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2025,4,12]],"date-time":"2025-04-12T02:07:20Z","timestamp":1744423640049,"version":"3.37.3"},"reference-count":70,"publisher":"Wiley","issue":"11","license":[{"start":{"date-parts":[[2021,5,4]],"date-time":"2021-05-04T00:00:00Z","timestamp":1620086400000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/P510506\/1","EP\/N509176\/1"],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100019229","name":"UK
        Catalysis Hub","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100019229","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R026815\/1","EP\/R026939\/1"],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["chemistry-europe.onlinelibrary.wiley.com"],"crossmark-restriction":true},"published-print":{"date-parts":[[2021,6,8]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>The
        nature of the hydrocarbon pool at different stages of the methanol\u2010to\u2010hydrocarbons
        reaction over ZSM\u20105 is examined. A combination of reaction testing, analytical
        and spectroscopic techniques is employed to investigate changes in the nature
        and form of the hydrocarbon pool as a function of reaction conditions and
        reaction time. It is shown that inelastic neutron scattering spectroscopy
        (INS) complements other spectroscopic methods for observing molecular components
        in the hydrocarbon pool of working catalysts. INS is uniquely able to spectroscopically
        identify the form of coke species present in deactivated catalysts.<\/jats:p>","DOI":"10.1002\/cctc.202100286","type":"journal-article","created":{"date-parts":[[2021,3,8]],"date-time":"2021-03-08T16:54:34Z","timestamp":1615222474000},"page":"2625-2633","update-policy":"https:\/\/doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":9,"title":"New
        Spectroscopic Insight into the Deactivation of a ZSM\u20105 Methanol\u2010to\u2010Hydrocarbons
        Catalyst","prefix":"10.1002","volume":"13","author":[{"given":"Andrea","family":"Zachariou","sequence":"first","affiliation":[{"name":"School
        of Chemistry University of Glasgow Joseph Black Building Glasgow G12 8QQ UK"},{"name":"UK
        Catalysis Hub Research Complex at Harwell STFC Rutherford Appleton Laboratory
        Chilton, Oxon OX11 0FA UK"}]},{"given":"Alexander P.","family":"Hawkins","sequence":"additional","affiliation":[{"name":"School
        of Chemistry University of Glasgow Joseph Black Building Glasgow G12 8QQ UK"},{"name":"UK
        Catalysis Hub Research Complex at Harwell STFC Rutherford Appleton Laboratory
        Chilton, Oxon OX11 0FA UK"}]},{"family":"Suwardiyanto","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry University of Jember Jember 68121 East Java Indonesia"}]},{"given":"Paul","family":"Collier","sequence":"additional","affiliation":[{"name":"Johnson
        Matthey Plc. Johnson Matthey Technology Centre Blounts Court Sonning Common
        Reading RG4 9NH UK"}]},{"given":"Nathan","family":"Barrow","sequence":"additional","affiliation":[{"name":"Johnson
        Matthey Plc. Johnson Matthey Technology Centre Blounts Court Sonning Common
        Reading RG4 9NH UK"}]},{"given":"Russell F.","family":"Howe","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry University of Aberdeen Meston Building Aberdeen AB24 3UE UK"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-3228-2570","authenticated-orcid":false,"given":"Stewart
        F.","family":"Parker","sequence":"additional","affiliation":[{"name":"School
        of Chemistry University of Glasgow Joseph Black Building Glasgow G12 8QQ UK"},{"name":"UK
        Catalysis Hub Research Complex at Harwell STFC Rutherford Appleton Laboratory
        Chilton, Oxon OX11 0FA UK"},{"name":"ISIS Neutron and Muon Source ISIS Facility
        STFC Rutherford Appleton Laboratory Chilton, Oxon OX11 0QX UK"}]},{"given":"David","family":"Lennon","sequence":"additional","affiliation":[{"name":"School
        of Chemistry University of Glasgow Joseph Black Building Glasgow G12 8QQ UK"}]}],"member":"311","published-online":{"date-parts":[[2021,5,4]]},"reference":[{"key":"e_1_2_6_1_1","doi-asserted-by":"publisher","DOI":"10.1038\/s41929-018-0078-5"},{"key":"e_1_2_6_2_1","doi-asserted-by":"publisher","DOI":"10.1039\/C5CS00304K"},{"key":"e_1_2_6_3_1","doi-asserted-by":"publisher","DOI":"10.1007\/s10562-018-2342-3"},{"key":"e_1_2_6_4_1","doi-asserted-by":"crossref","first-page":"37","DOI":"10.1016\/bs.acat.2017.10.002","volume":"61","author":"Xu
        S.","year":"2017","journal-title":"Adv. Catal."},{"key":"e_1_2_6_5_1","doi-asserted-by":"publisher","DOI":"10.1002\/cphc.201201023"},{"key":"e_1_2_6_6_1","doi-asserted-by":"publisher","DOI":"10.1039\/c1cy00197c"},{"key":"e_1_2_6_7_1","doi-asserted-by":"publisher","DOI":"10.1039\/c39860001611"},{"key":"e_1_2_6_8_1","doi-asserted-by":"publisher","DOI":"10.1021\/ja00251a004"},{"key":"e_1_2_6_9_1","doi-asserted-by":"publisher","DOI":"10.1021\/jp307290z"},{"key":"e_1_2_6_10_1","doi-asserted-by":"publisher","DOI":"10.1002\/anie.201007[...]
