---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939/1,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 17:36:41 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R027129/1,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2026,8,5]],"date-time":"2026-08-05T00:42:59Z","timestamp":1785890579680,"version":"3.56.0"},"reference-count":55,"publisher":"American
        Chemical Society (ACS)","issue":"9","license":[{"start":{"date-parts":[[2025,4,11]],"date-time":"2025-04-11T00:00:00Z","timestamp":1744329600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/R027129\/1"],"award-info":[{"award-number":["EP\/R027129\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/S018603\/1"],"award-info":[{"award-number":["EP\/S018603\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/Z532782\/1"],"award-info":[{"award-number":["EP\/Z532782\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100004211","name":"Oxford
        Martin School, University of Oxford","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100004211","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100013589","name":"Research
        England","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100013589","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["ACS
        Catal."],"published-print":{"date-parts":[[2025,5,2]]},"DOI":"10.1021\/acscatal.5c01758","type":"journal-article","created":{"date-parts":[[2025,4,11]],"date-time":"2025-04-11T10:34:12Z","timestamp":1744367652000},"page":"6760-6771","source":"Crossref","is-referenced-by-count":5,"title":["Using
        Differential Scanning Calorimetry to Accelerate Polymerization Catalysis:
        A Toolkit for Miniaturized and Automated Kinetics Measurements"],"prefix":"10.1021","volume":"15","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-2719-1228","authenticated-orcid":true,"given":"Thomas
        M.","family":"McGuire","sequence":"first","affiliation":[{"name":"Department
        of Chemistry","place":["Oxford, U.K."]},{"name":"University of Oxford","place":["Oxford,
        U.K."]}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"David","family":"Ning","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry","place":["Oxford, U.K."]},{"name":"University of Oxford","place":["Oxford,
        U.K."]}],"role":[{"vocabulary":"crossref","role":"author"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-0734-1575","authenticated-orcid":true,"given":"Charlotte
        K.","family":"Williams","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry","place":["Oxford, U.K."]},{"name":"University of Oxford","place":["Oxford,
        U.K."]}],"role":[{"vocabulary":"crossref","role":"author"}]}],"member":"316","published-online":{"date-parts":[[2025,4,11]]},"reference":[{"key":"ref1\/cit1","doi-asserted-by":"publisher","DOI":"10.1021\/acs.chemrev.7b00329"},{"key":"ref2\/cit2","doi-asserted-by":"publisher","DOI":"10.1021\/acs.chemrev.3c00848"},{"key":"ref3\/cit3","doi-asserted-by":"publisher","DOI":"10.1021\/acs.chemrev.1c00173"},{"key":"ref4\/cit4","doi-asserted-by":"publisher","DOI":"10.1098\/rsta.2019.0266"},{"key":"ref5\/cit5","doi-asserted-by":"publisher","DOI":"10.1021\/acs.accounts.3c00811"},{"key":"ref6\/cit6","doi-asserted-by":"publisher","DOI":"10.1038\/s4146[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219/1,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 17:36:44 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 17:36:44 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 17:36:46 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014706/2,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 17:36:47 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014706,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 17:36:49 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014714,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 11 Aug 2026 17:36:51 GMT
recorded_with: VCR 6.4.0
