---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939/1,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2025,5,14]],"date-time":"2025-05-14T04:26:06Z","timestamp":1747196766253,"version":"3.40.5"},"reference-count":0,"publisher":"IOP
        Publishing","license":[{"start":{"date-parts":[[2025,5,13]],"date-time":"2025-05-13T00:00:00Z","timestamp":1747094400000},"content-version":"am","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"},{"start":{"date-parts":[[2025,5,13]],"date-time":"2025-05-13T00:00:00Z","timestamp":1747094400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining"}],"funder":[{"DOI":"10.13039\/501100000266","name":"EPSRC","doi-asserted-by":"crossref","award":["EP\/R026939\/1"],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/501100000266","name":"EPSRC","doi-asserted-by":"crossref","award":["EP\/R027129\/1"],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/501100004543","name":"China
        Scholarship Council","doi-asserted-by":"crossref","award":["202106100037 and
        202006100040"],"id":[{"id":"10.13039\/501100004543","id-type":"DOI","asserted-by":"crossref"}]},{"name":"Beijing
        Natural Science Foundation","award":["2242001"]},{"name":"European Union\u2019s
        Horizon 2020 research and innovation program","award":["872102"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Sustain.
        Sci. Technol."],"DOI":"10.1088\/2977-3504\/add7e0","type":"journal-article","created":{"date-parts":[[2025,5,13]],"date-time":"2025-05-13T22:47:51Z","timestamp":1747176471000},"source":"Crossref","is-referenced-by-count":0,"title":["Sulfonic
        acid-functionalised zeolites for fructose dehydration into 5-hydroxymethylfurfural"],"prefix":"10.1088","author":[{"ORCID":"https:\/\/orcid.org\/0000-0001-5465-4673","authenticated-orcid":false,"given":"Huaizhong","family":"Xiang","sequence":"first","affiliation":[]},{"given":"Yao","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Xin","family":"Zhong","sequence":"additional","affiliation":[]},{"given":"Boji","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Charalampos","family":"Drivas","sequence":"additional","affiliation":[]},{"given":"Mark","family":"Isaacs","sequence":"additional","affiliation":[]},{"given":"Aina","family":"Syahida
        Jamal","sequence":"additional","affiliation":[]},{"given":"Zhipeng","family":"Qie","sequence":"additional","affiliation":[]},{"given":"Qiang","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Shaojun","family":"Xu","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0003-3729-5378","authenticated-orcid":false,"given":"Jesus","family":"Esteban","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-3651-7314","authenticated-orcid":false,"given":"Christopher","family":"Parlett","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-9039-6736","authenticated-orcid":false,"given":"Xiaolei","family":"FAN","sequence":"additional","affiliation":[]}],"member":"266","published-online":{"date-parts":[[2025,5,13]]},"container-title":["Sustainability
        Science and Technology"],"link":[{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/2977-3504\/add7e0","content-type":"text\/html","content-version":"am","intended-application":"text-mining"},{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/2977-3504\/add7e0\/pdf","content-type":"application\/pdf","content-version":"am","intended-application":"text-mining"},{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/2977-3504\/add7e0\/pdf","content-type":"application\/pdf","content-version":"am","intended-application":"syndication"},{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/2977-3504\/add7e0\/pdf","content-type":"application\/pdf","content-version":"am","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,5,13]],"date-time":"2025-05-13T22:47:53Z","timestamp":1747176473000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/2977-3504\/add7e0"}},"issued":{"date-parts":[[2025,5,13]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1088\/2977-3504\/add7e0","ISSN":["2977-3504"],"issn-type":[{"value":"2977-3504","type":"electronic"}],"published":{"date-parts":[[2025,5,13]]}},{"indexed":{"date-parts":[[2025,5,21]],"date-time":"2025-05-21T04:18:20Z","timestamp":1747801100302,"version":"3.41.0"},"reference-count":53,"publisher":"American
        Chemical Society (ACS)","license":[{"start":{"date-parts":[[2025,5,20]],"date-time":"2025-05-20T00:00:00Z","timestamp":1747699200000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100003359","name":"Generalitat
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026815/1,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 May 2025 11:00:37 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R027129/1,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2025,5,20]],"date-time":"2025-05-20T04:08:11Z","timestamp":1747714091282,"version":"3.40.5"},"reference-count":51,"publisher":"Wiley","issue":"21","license":[{"start":{"date-parts":[[2025,3,27]],"date-time":"2025-03-27T00:00:00Z","timestamp":1743033600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/S018603\/1","EP\/R027129\/1","EP\/V003321\/1"],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Angew
        Chem Int Ed"],"published-print":{"date-parts":[[2025,5]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Cyclic
        anhydride and epoxide ring\u2010opening copolymerization is a versatile and
        controlled route to make polyesters, gaining attention in different application
        sectors. But so far, the chemical recycling of these polyesters to cyclic
        monomers is under\u2010explored. Here, the catalytic chemical recycling of
        aliphatic polyesters to selectively form 16\u2010 and 18\u2010membered lactones
        is presented. The recycling reactions are catalyzed using commercial tin(II)
        octoate and conducted in the polymer melt (230\u00a0\u00b0C) resulting in
        high conversions to the macrolactones (&gt;90%). The recycled macrolactones
        undergo catalyzed ring\u2010opening polymerizations to produce polyesters
        with equivalent properties to the virgin materials.<\/jats:p>","DOI":"10.1002\/anie.202423478","type":"journal-article","created":{"date-parts":[[2025,3,12]],"date-time":"2025-03-12T00:26:06Z","timestamp":1741739166000},"update-policy":"https:\/\/doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["From
        Polymers to Rings and Back Again: Chemical Recycling of Polyesters to Macrolactones"],"prefix":"10.1002","volume":"64","author":[{"given":"Madeleine
        L.","family":"Smith","sequence":"first","affiliation":[{"name":"Department
        of Chemistry Chemistry Research Laboratory University of Oxford  12 Mansfield
        Rd Oxford OX1 3TA UK"}]},{"given":"Thomas M.","family":"McGuire","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry Chemistry Research Laboratory University of Oxford  12 Mansfield
        Rd Oxford OX1 3TA UK"}]},{"given":"Ryan W. F.","family":"Kerr","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry Chemistry Research Laboratory University of Oxford  12 Mansfield
        Rd Oxford OX1 3TA UK"}]},{"given":"Charlotte K.","family":"Williams","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry Chemistry Research Laboratory University of Oxford  12 Mansfield
        Rd Oxford OX1 3TA UK"}]}],"member":"311","published-online":{"date-parts":[[2025,3,27]]},"reference":[{"key":"e_1_2_6_1_1","doi-asserted-by":"publisher","DOI":"10.1126\/science.abg9853"},{"key":"e_1_2_6_2_1","doi-asserted-by":"publisher","DOI":"10.1038\/s41893-022-01054-9"},{"key":"e_1_2_6_3_1","doi-asserted-by":"publisher","DOI":"10.1038\/s41586-023-06939-z"},{"key":"e_1_2_6_4_1","doi-asserted-by":"publisher","DOI":"10.1126\/science.abg4503"},{"key":"e_1_2_6_5_1","doi-asserted-by":"publisher","DOI":"10.1038\/s41578-020-0190-4"},{"key":"e_1_2_6_6_1","doi-asserted-by":"publisher","DOI":"10.1039\/C7GC014[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219/1,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 May 2025 11:00:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 May 2025 11:00:54 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 May 2025 11:01:10 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014706/2,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 May 2025 11:01:13 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014706,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 May 2025 11:01:23 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014714,from-deposit-date:2025-05-01,until-deposit-date:2025-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 May 2025 11:01:36 GMT
recorded_with: VCR 6.3.1
