---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939/1,from-deposit-date:2026-04-19,until-deposit-date:2026-08-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":30,"items":[{"indexed":{"date-parts":[[2026,6,30]],"date-time":"2026-06-30T21:55:49Z","timestamp":1782856549317,"version":"3.54.5"},"reference-count":20,"publisher":"Royal
        Society of Chemistry (RSC)","issue":"56","license":[{"start":{"date-parts":[[2023,5,23]],"date-time":"2023-05-23T00:00:00Z","timestamp":1684800000000},"content-version":"am","delay-in-days":507,"URL":"http:\/\/rsc.li\/journals-terms-of-use"}],"funder":[{"DOI":"10.13039\/501100001409","name":"Department
        of Science and Technology, Ministry of Science and Technology","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100001409","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100001501","name":"University
        Grants Commission","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100001501","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100001412","name":"Council
        of Scientific and Industrial Research, India","doi-asserted-by":"publisher","award":["09\/086(1344)\/2018-
        EMR-I"],"award-info":[{"award-number":["09\/086(1344)\/2018- EMR-I"]}],"id":[{"id":"10.13039\/501100001412","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100001412","name":"Council
        of Scientific and Industrial Research, India","doi-asserted-by":"publisher","award":["HRDG\/YSA-19\/02\/21(0045)\/2019"],"award-info":[{"award-number":["HRDG\/YSA-19\/02\/21(0045)\/2019"]}],"id":[{"id":"10.13039\/501100001412","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100001412","name":"Council
        o[...]
[...]
