---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939/1,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2025,3,26]],"date-time":"2025-03-26T18:29:11Z","timestamp":1743013751284,"version":"3.34.0"},"reference-count":81,"publisher":"Royal
        Society of Chemistry (RSC)","issue":"5","license":[{"start":{"date-parts":[[2026,1,13]],"date-time":"2026-01-13T00:00:00Z","timestamp":1768262400000},"content-version":"am","delay-in-days":377,"URL":"http:\/\/rsc.li\/journals-terms-of-use"}],"funder":[{"DOI":"10.13039\/501100000765","name":"University
        College London","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000765","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000866","name":"Cardiff
        University","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000866","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000848","name":"University
        of Edinburgh","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000848","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/P020267\/1","EP\/R026939\/1","EP\/
        R026815\/1","EP\/R026645\/1","EP\/R027129\/1"],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["rsc.org"],"crossmark-restriction":true},"short-container-title":["Phys.
        Chem. Chem. Phys."],"abstract":"<jats:p>The nature, location and distribution
        of acidic hydroxyls determine the methanol adsorption capacity, geometry and
        hence the isotherm profiles of fresh-ZSM-5 and steamed-ZSM-5.<\/jats:p>","DOI":"10.1039\/d4cp03761h","type":"journal-article","created":{"date-parts":[[2025,1,13]],"date-time":"2025-01-13T20:40:52Z","timestamp":1736800852000},"page":"2601-2614","update-policy":"https:\/\/doi.org\/10.1039\/rsc_crossmark_policy","source":"Crossref","is-referenced-by-count":1,"title":["A
        complementary experimental and computational study on methanol adsorption
        isotherms of H-ZSM-5"],"prefix":"10.1039","volume":"27","author":[{"ORCID":"https:\/\/orcid.org\/0000-0001-6965-2945","authenticated-orcid":false,"given":"Santhosh
        K.","family":"Matam","sequence":"first","affiliation":[{"name":"UK Catalysis
        Hub, Research Complex at Harwell, Science and Technology Facilities Council,
        Rutherford Appleton Laboratory, OX11 0FA, UK"},{"name":"Cardiff Catalysis
        Institute, School of Chemistry, Cardiff University, Cardiff, CF10 3AT, UK"}]},{"given":"Lotfi","family":"Boudjema","sequence":"additional","affiliation":[{"name":"UK
        Catalysis Hub, Research Complex at Harwell, Science and Technology Facilities
        Council, Rutherford Appleton Laboratory, O[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219/1,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Ap[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/R026939,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/M013219,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 09 Apr 2025 14:12:44 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014706/2,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 09 Apr 2025 14:12:45 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014706,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 09 Apr 2025 14:12:47 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.number:EP/K014714,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Wed, 09 Apr 2025 14:12:49 GMT
recorded_with: VCR 6.3.1
