---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:EP/M013219/1,from-deposit-date:2025-01-01,until-deposit-date:2025-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T18:40:09Z","timestamp":1740163209357,"version":"3.37.3"},"reference-count":55,"publisher":"MDPI
        AG","issue":"12","license":[{"start":{"date-parts":[[2020,11,24]],"date-time":"2020-11-24T00:00:00Z","timestamp":1606176000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council (EPSRC)","doi-asserted-by":"crossref","award":["EP\/I038748\/1","EP\/I019693\/1","EP\/K014706\/1","EP\/K014668\/1","EP\/K014854\/1","EP\/K014714\/1","EP\/M013219\/1"],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"crossref"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Catalysts"],"abstract":"<jats:p>A
        MoOx\/Al2O3 catalyst was synthesised and tested for oxidative (ODP) and non-oxidative
        (DP) dehydrogenation of propane in a reaction cycle of ODP followed by DP
        and a second ODP run. Characterisation results show that the fresh catalyst
        contains highly dispersed Mo oxide species in the +6 oxidation state with
        tetrahedral coordination as [MoVIO4]2\u2212 moieties. In situ X-ray Absorption
        Spectroscopy (XAS) shows that [MoVIO4]2\u2212 is present duri[...]
