---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,award.funder:10.13039/501100000266,award.number:UKRI945,from-deposit-date:2026-01-01,until-deposit-date:2026-01-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a_nieva@hotmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '3'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-array
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2026,7,7]],"date-time":"2026-07-07T10:27:31Z","timestamp":1783420051187,"version":"3.54.6"},"reference-count":58,"publisher":"American
        Chemical Society (ACS)","issue":"2","license":[{"start":{"date-parts":[[2026,1,12]],"date-time":"2026-01-12T00:00:00Z","timestamp":1768176000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/S018603\/1"],"award-info":[{"award-number":["EP\/S018603\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/Z532782\/1"],"award-info":[{"award-number":["EP\/Z532782\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["UKRI945"],"award-info":[{"award-number":["UKRI945"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100022861","name":"Dutch
        Polymer Institute","doi-asserted-by":"publisher","award":["865t22"],"award-info":[{"award-number":["865t22"]}],"id":[{"id":"10.13039\/100022861","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Macromolecules"],"published-print":{"date-parts":[[2026,1,27]]},"DOI":"10.1021\/acs.macromol.5c03136","type":"journal-article","created":{"date-parts":[[2026,1,13]],"date-time":"2026-01-13T01:58:18Z","timestamp":1768269498000},"page":"793-801","source":"Crossref","is-referenced-by-count":2,"title":["Effects
        of Molecular Weight Distribution on the Thermal\u2013Mechanical Performance
        and Recycling of CO\n                    <sub>2<\/sub>\n                    -Derived
        Poly(cyclopentene carbonate)"],"prefix":"10.1021","volume":"59","author":[{"ORCID":"https:\/\/orcid.org\/0009-0004-5035-1463","authenticated-orcid":true,"given":"Bal\u00e1zs","family":"Striker","sequence":"first","affiliation":[{"name":"Department
        of Chemistry","place":["Oxford, United Kingdom"]},{"name":"University of Oxford","place":["Oxford,
        United Kingdom"]}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Alexander
        R.","family":"Craze","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry","place":["Oxford, United Kingdom"]},{"name":"University of Oxford","place":["Oxford,
        United Kingdom"]}],"role":[{"vocabulary":"crossref","role":"author"}]},{"ORCID":"https:\/\/orcid.org\/0000-0001-6573-0926","authenticated-orcid":true,"given":"Kam
        C.","family":"Poon","sequence":"additional","affiliation":[{"name":"Departme[...]
