---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1364%2Fome.469414/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public-single
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2026,7,30]],"date-time":"2026-07-30T13:02:01Z","timestamp":1785416521299,"version":"3.56.0"},"reference-count":34,"publisher":"Optica
        Publishing Group","issue":"12","license":[{"start":{"date-parts":[[2022,11,14]],"date-time":"2022-11-14T00:00:00Z","timestamp":1668384000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"},{"start":{"date-parts":[[2022,11,14]],"date-time":"2022-11-14T00:00:00Z","timestamp":1668384000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/opg.optica.org\/policies\/opg-tdm-policy.json"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/M013812\/1"],"award-info":[{"award-number":["EP\/M013812\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/W017075\/1"],"award-info":[{"award-number":["EP\/W017075\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000781","name":"European
        Research Council","doi-asserted-by":"publisher","award":["789340"],"award-info":[{"award-number":["789340"]}],"id":[{"id":"10.13039\/501100000781","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100004543","name":"China
        Scholarship Council","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100004543","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["opg.optica.org"],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,12,1]]},"abstract":"<jats:p>\n                    Plasmonic
        nanorod metamaterials are often used as a high-performance optical sensing
        platform for the detection of biochemical and gas species. Here, we investigate
        the effect of environmental humidity on their optical response. Due to the
        high refractive index sensitivity, a significant change in the transmission
        is observed with \u0394\n                    <jats:italic toggle=\"yes\">T<\/jats:italic>\n                    \/\n                    <jats:italic
        toggle=\"yes\">T<\/jats:italic>\n                    reaching values of more
        than 5% when the relative humidity is changed from 11% to 75%. This is the
        result of the condensation of water molecules on a rough surface of the gold
        nanorods. This finding reveals the importance of protecting plasmonic nanostructures
        from relative humidity variations in many practical applications. By coating
        the nanorods with a monolayer of poly-L-histidine, the fractional change of
        transmission is doubled due to the hydrophilic property of the monolayer,
        which can be used for the development of high-sensitivity relative humidity
        and dew condensation sensors.\n                  <\/jats:p>","DOI":"10.1364\/ome.469414","type":"journal-article","created":{"date-parts":[[2022,8,24]],"date-time":"2022-08-24T04:00:36Z","timestamp":1661313636000},"page":"4574","update-policy":"https:\/\/doi.org\/10.1364\/crossmark_policy","source":"Crossref","is-referenced-by-count":7,"title":"Humidity-induced
        direct modification of the optical response of plasmonic nanorod metamaterials","prefix":"10.1364","volume":"12","author":[{"given":"Yunlu","family":"Jiang","sequence":"first","affiliation":[{"id":[{"id":"https:\/\/ror.org\/0220mzb33","id-type":"ROR","asserted-by":"publisher"}]}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Alexey
        V.","family":"Krasavin","sequence":"additional","affiliation":[{"id":[{"id":"https:\/\/ror.org\/0220mzb33","id-type":"ROR","asserted-by":"publisher"}]}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Mazhar
        E.","family":"Nasir","sequence":"additional","affiliation":[{"id":[{"id":"https:\/\/ror.org\/0220mzb33","id-type":"ROR","asserted-by":"publisher"}]}],"role":[{"vocabulary":"crossref","role":"author"}]},{"ORCID":"https:\/\/orcid.org\/0000-0003-4209-5186","authenticated-orcid":true,"given":"Pan","family":"Wang","sequence":"additional","affiliation":[{"name":"Zhejiang
        University"}],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Anatoly
        V.","family":"Zayats","sequence":"additional","affiliation":[{"id":[{"id":"https:\/\/ror.org\/0220mzb33","id-type":"ROR","asserted-by":"publisher"}]}],"role":[{"vocabulary":"crossref","role":"author"}]}],"member":"285","published-online":{"date-parts":[[2022,11,14]]},"reference":[{"key":"ome-12-12-4574-R1","doi-asserted-by":"publisher","first-page":"1494","DOI":"10.1126\/science.1094025","volume":"303","author":"Yen","year":"2004","journal-title":"Science"},{"key":"ome-12-12-4574-R2","doi-asserted-by":"publisher","first-page":"165112","DOI":"10.1103\/PhysRevB.69.165112","volume":"69","author":"Agranovich","year":"2004","journal-title":"Phys.
        Rev. B."},{"key":"ome-12-12-4574-R3","doi-asserted-by":"publisher","first-page":"930","DOI":"10.1126\/science.1157566","volume":"321","author":"Yao","year":"2008","journal-title":"Science"},{"key":"ome-12-12-4574-R4","doi-asserted-by":"publisher","first-page":"075103","DOI":"10.1103\/PhysRevB[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1364%2Fprj.522533/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public-single
    body:
  [...]
