---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1101%2F2025.07.05.663138/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-single
    body:
      encoding: ASCII-8BIT
      string: '{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2026,6,24]],"date-time":"2026-06-24T05:50:59Z","timestamp":1782280259824,"version":"3.54.5"},"posted":{"date-parts":[[2025,7,8]]},"group-title":"Bioinformatics","reference-count":65,"publisher":"openRxiv","license":[{"start":{"date-parts":[[2025,7,8]],"date-time":"2025-07-08T00:00:00Z","timestamp":1751932800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.biorxiv.org\/about\/FAQ#license"}],"funder":[{"DOI":"10.13039\/501100000761","name":"Imperial
        College London","doi-asserted-by":"crossref","award":["President\u2019s PhD
        Scholarship"],"award-info":[{"award-number":["President\u2019s PhD Scholarship"]}],"id":[{"id":"10.13039\/501100000761","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/501100000266","name":"EPSRC","doi-asserted-by":"crossref","award":["EP\/T022213\/1"],"award-info":[{"award-number":["EP\/T022213\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/501100000266","name":"EPSRC","doi-asserted-by":"crossref","award":["EP\/W032260\/1"],"award-info":[{"award-number":["EP\/W032260\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/501100000266","name":"EPSRC","doi-asserted-by":"crossref","award":["EP\/P020194\/1"],"award-info":[{"award-number":["EP\/P020194\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/100007065","name":"NVIDIA","doi-asserted-by":"crossref","award":["Academic
        Grant for Simulation and Modeling"],"award-info":[{"award-number":["Academic
        Grant for Simulation and Modeling"]}],"id":[{"id":"10.13039\/100007065","id-type":"DOI","asserted-by":"crossref"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"accepted":{"date-parts":[[2025,7,19]]},"abstract":"<jats:title>Abstract<\/jats:title>\n                <jats:p>\n                  Despite
        recent breakthroughs in deep learning methods for protein design, existing
        computational pipelines remain rigid, highly specific, and ill-suited for
        tasks requiring non-differentiable or multi-objective design goals. In this
        report, we introduce\n                  <jats:monospace>BAGEL<\/jats:monospace>\n                  ,
        a modular, open-source framework for programmable protein engineering, enabling
        flexible exploration of sequence space through model-agnostic and gradient-free
        exploration of an energy landscape.\n                  <jats:monospace>BAGEL<\/jats:monospace>\n                  formalizes
        protein design as the sampling of an energy function, either to optimize (find
        a global optimum) or to explore a basin of interest (generate diverse candidates).
        This energy function is composed of user-defined terms capturing geometric
        constraints, sequence embedding similarities, or structural confidence metrics.\n                  <jats:monospace>BAGEL<\/jats:monospace>\n                  also
        natively supports multi-state optimization and advanced Monte Carlo techniques,
        providing researchers with a flexible alternative to fixed-backbone and inverse-folding
        paradigms common in current design workflows. Moreover, the package seamlessly
        integrates a wide range of publicly available deep learning protein models,
        allowing users to rapidly take full advantage of any future improvements in
        model accuracy and speed. We illustrate the versatility of BAGEL on four archetypal
        applications: designing\n                  <jats:italic>de novo<\/jats:italic>\n                  peptide
        binders, targeting intrinsically disordered epitopes, selectively binding
        to species-specific variants, and generating enzyme variants with conserved
        catalytic sites. By offering a modular, easy-to-use platform to define custom
        protein design objectives and optimization strategies,\n                  <jats:monospace>BAGEL<\/jats:monospace>\n                  aims
        to speed up the design of new proteins. Our goal with its release is to democratize
        protein design, abstracting the process as much as possible from technical
        implementation details and thereby making it more accessible to the broader
        scientific community, unlocking untapped potential for innovation in biotechnology
        and therapeutics.\n                <\/jats:p>","DOI":"10.1101\/2025.07.05.663138","type":"posted-content","created":{"date-parts":[[2025,7,11]],"date-time":"2025-07-11T09:00:26Z","timestamp":1752224426000},"source":"Crossref","is-referenced-by-count":2,"title":"BAGEL:
        Protein Engineering via Exploration of an Energy Landscape","prefix":"10.64898","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-5424-5260","authenticated-orcid":false,"given":"Jakub","family":"L\u00e1la","sequence":"first","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"ORCID":"https:\/\/orcid.org\/0009-0007-9772-8610","authenticated-orcid":false,"given":"Ayham","family":"Al-Saffar","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"ORCID":"https:\/\/orcid.org\/0000-0003-2917-2415","authenticated-orcid":false,"given":"Stefano","family":"Angioletti-Uberti","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]}],"member":"54368","reference":[{"key":"2025072208201138000_2025.07.05.663138v2.1","doi-asserted-by":"publisher","DOI":"10.1038\/s41586-021-03819-2"},{"key":"2025072208201138000_2025.07.05.663138v2.2","doi-asserted-by":"publisher","DOI":"10.1126\/science.abj8754"},{"key":"2025072208201138000_2025.07.05.663138v2.3","doi-asserted-by":"publisher","DOI":"10.1126\/science.ade2574"},{"key":"2025072208201138000_2025.07.05.663138v2.4","doi-asserted-by":"publisher","DOI":"10.1038\/s41392-023-01381-z"},{"key":"2025072208201138000_2025.07.05.66[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.26434%2Fchemrxiv-2024-cpjsk/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Poo[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1021%2Facsmaterialslett.1c00766/transform/application/vnd.citationstyles.csl+json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.14.3 Serrano/v1.7 (mailto:a.mail@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite-single
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2026,7,9]],"date-time":"2026-07-09T08:17:03Z","timestamp":1783585023605,"version":"3.55.0"},"reference-count":72,"publisher":"American
        Chemical Society (ACS)","issue":"2","license":[{"start":{"date-parts":[[2022,1,26]],"date-time":"2022-01-26T00:00:00Z","timestamp":1643155200000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/L000202\/1"],"award-info":[{"award-number":["EP\/L000202\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/M009521\/1"],"award-info":[{"award-number":["EP\/M009521\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/V013130\/1"],"award-info":[{"award-number":["EP\/V013130\/1"]}],"id":[{"id":"10.13039\/501100000266","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,2,7]]},"DOI":"10.1021\/acsmaterialslett.1c00766","type":"journal-article","created":{"date-parts":[[2022,1,26]],"date-time":"2022-01-26T17:21:30Z","timestamp":1643217690000},"page":"424-431","source":"Crossref","is-referenced-by-count":54,"title":"A
        Nanoscale Design Approach for Enhancing the Li-Ion Conductivity of the Li<sub>10<\/sub>GeP<sub>2<\/sub>S<sub>12<\/sub>
        Solid Electrolyte","prefix":"10.1021","volume":"4","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-3946-5337","authenticated-orcid":true,"given":"James
        A.","family":"Dawson","sequence":"first","affiliation":[{"name":"Chemistry\u2500School
        of Natural and Environmental Sciences, Newcastle University, Newcastle upon
        Tyne, NE1 7RU, U.K."},{"name":"Centre for Energy, Newcastle University, Newcastle
        upon Tyne, NE1 7RU, U.K."}],"role":[{"vocabulary":"crossref","role":"author"}]},{"ORCID":"https:\/\/orcid.org\/0000-0003-3882-0285","authenticated-orcid":true,"given":"M.
        Saiful","family":"Islam","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry, University of Bath, Bath, BA2 7AY, U.K."},{"name":"Department
        of Materials, University of Oxford, Oxford, OX1 3PH, U.K."}],"role":[{"vocabulary":"crossref","role":"author"}]}],"member":"316","published-online":{"date-parts":[[2022,1,26]]},"reference":[{"key":"ref1\/cit1","doi-asserted-by":"publisher","DOI":"10.1038\/s41563-019-0431-3"},{"key":"ref2\/cit2","doi-asserted-by":"publisher","DOI":"10.1039\/C8EE01053F"},{"key":"ref3\/cit3","doi-asserted-by":"publisher","DOI":"10.1038\/natrevmats.2016.103"},{"key":"ref4\/cit4","doi-asserted-by":"publisher","DOI":"10.1021\/acs.chemrev.5b00563"},{"key":"ref5\/cit5","doi-asserted-by":"publisher","DOI":"10.1038\/nenergy.2016.141"},{"key":"ref6\/cit6","doi-asserte[...]
